<div class="col-sm-4 side-bar fadeInLeft animated" >
  <div class="side-bar-overlay" >
    <div class="bounceInDown animated">
      <a class="logo" href="/">FAMESCAN</a>
    </div>
  </div>
</div>
<div class="col-sm-8 zoomInUp animated" style="height:100%">
  <div class="profile-container">
    <div class="profile-image-container float-left">
      <div class="profile-image" style="background-image: url(<%=@profile.avatar.url%>);"></div>
    </div>  
    <div class="profile-name show-profile-name float-left">
      <%= @profile.first_name %> <%= @profile.middle_name %> <%=@profile.last_name%>
    </div>
    <div class="location float-left">
       <p> <%= @profile.job %> </p>
      <%= @profile.mystate %>, <%= @profile.mycountry %>
      <p>Age: <%= @profile.age %></p>
      <p><%= @profile.education %></p>
    </div>
    <div class="net_worth show-net_worth float-left">
      <%= image_tag "naira.jpg", class: "naira-logo" %> <%= @profile.net_worth %>
    </div>
    <hr>
    <ul id="source" class="float-left">
      <li><%= @profile.source1 %></li> ||
      <li><%= @profile.source2 %></li> ||
      <li><%= @profile.source3 %></li> 
    </ul>
    <div class="content-container">
      <div class="content">
      <%= @profile.description %>
      </div>
    </div>
  </div>
</div>
