<div class="col-sm-4 side-bar fadeInLeft animated">
  <div class="side-bar-overlay">
      <div class="bounceInDown animated">
        <a class="logo" href="/">FAMESCAN</a>
      </div>
    </div>
</div>
<div class="col-sm-8 zoomInUp animated" style="height:100%">
  <div class="profile-container">
    <div class="profile-image-container">
      <div class="profile-image" style="background-image: url(<%=@profile.avatar.url%>);"></div>
      <div class="profile-name" style="text-align:center; font-size:20px; margin-top:10px;">
        <%= @profile.first_name %> <%= @profile.middle_name %> <%=@profile.last_name%>
      </div>
      
      <div class="net_worth" style="text-align:center; width:100%;font-size:25px;height:50px;">
        <%= image_tag "naira.jpg", class: "naira-logo" %> <%= @profile.net_worth %>
      </div>
    </div>
    <div class="content-container">
      <div class="content">
      <%= @profile.description %>
      </div>
    </div>
  </div>
</div>
